#dj-youtube {
    background-image: linear-gradient(to right, #4B5F6E, #D9C1BB);
   min-height: 1000px;
}

.turntable-container {

    width: 100%;

    margin: 0 auto;
    position: relative;
    @include clearfix;

}

.container-dj-app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .module-dj {
        width: 95%;
        /*border:1px solid #000;*/
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
.input-dj-video{
    .input-dj-video-panel{
        width: 100%;
    }
}


/*PANEL DECK*/
.panel-back {
    box-shadow: 0 5px 22px 0 rgba(0, 0, 0, .29);
    border: 0 solid #a8b6c2;
    background-color: #303d49;

}

.panel-deck {
    min-height: 525px;
}

.panel-default {
    border-radius: 4px;
}
/*END OF PANEL DECK*/
/*PANEL TURNTABLE*/
.panel-turntable{
 
    .progressbar-music{
        min-height: 75px;
    }
    .panel-body-turntable{
         padding: 15px;
        img{
            width: 50%
        }
       
    }

    .range-speed-containter{
        height: 130px;
        .range-speed{
        cursor: pointer;
         width: 100px !important;
        -webkit-appearance: none; 
        z-index: 200; 
     }
    }

    .range-song-duration{
        width: 100%;
        padding: 20px;
        background-color: transparent;
    }

}
/*END OF TPANEL TURNATBLE*/
/*AUDIO MIXER PANEL*/
.panel-sound-control{
    position: relative;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
}
.ranges-volumes{

    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 150px;
    justify-content: space-between;
    h5{
        color: #CFDCE3;
    }
    .volume-slider{
        position: relative;
    }
    .volume-range-input{
          background-color: transparent;
          position: relative;
          transform: rotate(-90deg);
          width: 80%;
          margin-top: 40px;
          align-items: center;
       
    }
}
.social-media-panel{
    min-height: 150px;
}
.audio-mixer-panel{
    display: flex;
    flex-direction: column;

}
.panel-video-audio-mixer{

    min-height: 100px;
    margin-top:20px;
    margin-bottom: 20px;
}

.range-crossfader{
    min-height: 50px;
    width: 100%;
}
.crossfader{
  width: 80%;
    
}

/*SOCIAL MEDIA PANEL*/
.social-media-panel{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

}


/**/


/*MEDIA 768PX*/
@media only screen and (min-width: 768px) {
    .panel-body-turntable{
        img{
            width: 50%
        }
    }
    .container-dj-app {
        flex-direction: row;

        .module-dj {
            width: 40%
        }
    }

}

/*MEDIA 1030*/
@media only screen and (min-width: 1030px) {
    .turntable-container {
        width: 1320px;
    }
}