input[type=range]::-moz-range-progress {
    background-color: green;
    height: 1em;
}

input[type=range]::range-progress {
    background-color: green;
    height: 1em;
}

#dj-youtube {
    background-image: linear-gradient(to right, #4B5F6E, #D9C1BB);
    min-height: 1000px;

    span {
        font-family: Roboto-Thin;
    }
}

.turntable-container {

    width: 100%;

    margin: 0 auto;
    position: relative;
    @include clearfix;

}

.tiny-letters {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFFF;
    padding: 3px;
}

.container-dj-app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .module-dj {
        width: 95%;
        /*border:1px solid #000;*/
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.input-dj-video {
    position: relative;

    .input-dj-video-panel {
        width: 100%;
    }

    .result-video-dj {
        position: absolute;
        background-color: #FFFF;
        color: #303D48;
        z-index: 9;
        display: block;
        width: 100%;
        top: 50px;
        border-radius: 5px;

        ul {
            padding: 0;
        }
    }

    .video-item-dj {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        .thumbnail-video-item {
            padding: 10px;
            width: 120px;
        }
    }
}

.spin {
    -webkit-animation: spin 6s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*PANEL DECK*/
.panel-back {
    box-shadow: 0 5px 22px 0 rgba(0, 0, 0, .29);
    border: 0 solid #a8b6c2;
    background-color: #303d49;

}

.panel-deck {
    min-height: 525px;
}

.panel-default {
    border-radius: 4px;
}

/*END OF PANEL DECK*/
/*PANEL TURNTABLE*/
.panel-turntable {
    padding-top: 22px;

    .progressbar-music {
        z-index: 2;
        margin: 20px;
        height: 5px;
        cursor: pointer;
        position: relative;
        overflow: visible;
        background-color: #f5f5f5;
        border-radius: 4px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);

        .timers {
            position: absolute;
            width: 100%;
            top: -35px;

            .text-duration-left {
                display: inline-block;
                width: 50%;
                text-align: left;
                position: relative;
            }

            .text-duration-right {
                display: inline-block;
                width: 50%;
                text-align: right;
                position: relative;
            }
        }

    }

    .panel-body-turntable {

        padding: 15px;

        .title-name-song {

            font-size: 0.8em;
            color: #fff;
            font-weight: bold;
        }

        img {
            width: 50%
        }

    }

    .range-speed-containter {
        height: 130px;

        .range-speed {
            cursor: pointer;
            width: 160px !important;
            /*-webkit-appearance: none;*/
            z-index: 200;
            border-radius: 20px;
            /* -webkit-appearance: slider-vertical*/

        }
    }

    .speed-p {
        color: #FFFF;
        font-size: 1rem;
    }

    .range-song-duration {
        background-color: #6799a1;
        position: relative;
        -webkit-transition: all .1s;
        -o-transition: all .1s;
        transition: all .1s;
        cursor: pointer;
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        line-height: 22px;
        color: #fff;
        text-align: center;
        background-color: #3097d1;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
        -webkit-transition: width .6s ease;
        transition: width .6s ease;

        &:after {
            content: "";
            position: absolute;
            right: -8px;
            top: -3px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #6799a1;
        }
    }

}

/*END OF TPANEL TURNATBLE*/
/*AUDIO MIXER PANEL*/
.panel-sound-control {
    position: relative;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
}

.ranges-volumes {

    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 150px;
    justify-content: space-between;

    h5 {
        color: #CFDCE3;
    }

    .volume-slider {
        position: relative;
    }

    .volume-range-input {
        background-color: transparent;
        position: relative;
        transform: rotate(-90deg);
        width: 80%;
        margin-top: 40px;
        align-items: center;

    }
}

/*MODAL*/
.title-modal-djyoutube {
    background-color: #383838;
    border-bottom: 1px #fff solid;
    text-align: center;
    color: #FFFF
}

.modal-body-djyoutube {
    text-align: center;

    span {
        font-size: 1em;
        color: #000;
        font-weight: lighter;
    }

    #formContact {
        padding: 0;

        .contact2-form-btn {
            background-color: #EC3131;
        }

    }
}

/*END OF MODAL*/


.audio-mixer-panel {
    display: flex;
    flex-direction: column;

}

.panel-video-audio-mixer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.range-crossfader {
    min-height: 50px;
    width: 100%;
}

.crossfader {
    width: 35%;
    border-radius: 20px;

}

/*SOCIAL MEDIA PANEL*/
.social-media-panel {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    min-height: 150px;
    position: relative;
    z-index: 0;

    .button-social-media-panel {
        position: relative;
        z-index: 2;
    }

}

.menu-share-panel {
    z-index: 1000;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 60px;
    width: 86%;
    height: 150px;
    background-color: white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;

    .network-share-button-panel {
        text-align: left;
        padding: 10px;
        margin: 10px 10px 15px 10px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 0.75em;
        display: inline-block;
       /*float: left;*/
        color: #FFFFFF;
       /* &:after {
            clear: both;
        }*/


    }
}

.facebook-share-button-panel {
    background-color: #2D4373;
}

.twitter-share-button-panel {
    background-color: #1B91DA;
}

.pads {
    display: flex;
    flex-direction: column;

    .pads-buttons {
        display: flex;
        justify-content: space-between;

        .btn-pads {
            border-radius: 5px;
            color: #FFFF;
            font-size: 0.7rem;
            font-weight: lighter;
            line-height: normal;
            width: 14%;
            padding: 15px;
            margin: 5px 0;
            position: relative;
        }

        .icon-pads {
            background-image: linear-gradient(-180deg, #6999a1 0, #567d84 100%);
        }

        .letters-pads {
            border: #FFFF solid 1px;
        }
    }


}

/**/


/*MEDIA 768PX*/
@media only screen and (min-width: 768px) {
    .panel-body-turntable {
        img {
            width: 50%
        }
    }

    .container-dj-app {
        flex-direction: row;

        .module-dj {
            width: 40%
        }
    }

}

/*MEDIA 1030*/
@media only screen and (min-width: 1030px) {
    .turntable-container {
        width: 1320px;
    }
}